# Node Modules
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Environment Variables
.env
.env.local
.env.development
.env.production
.env.test

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Database & Sequelize
src/config/database.cjs
src/config/database.js
src/config/database.json
src/migrations/
src/seeders/

# OS / IDE Specific Files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# Build Artifacts
dist/
build/
coverage/